<body>
   <main>  
        <div class="calculator">
        <div class="nav">
            <div class="number_display">
                <input id="input" value="0" readonly>
            <input id="preview" readonly />
            </div>
            <div id="circle" class="circle">
            <div class="circle-inner">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                    d="M22 3H7c-.69 0-1.23.35-1.59.88L0 12l5.41 8.11c.36.53.9.89 1.59.89h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H7.07L2.4 12l4.66-7H22v14zm-11.59-2L14 13.41 17.59 17 19 15.59 15.41 12 19 8.41 17.59 7 14 10.59 10.41 7 9 8.41 12.59 12 9 15.59z" />
                </svg>
                </div>
            </div>
        </div>

        <div id="buttons" class="buttons">
            <div>
            <div>
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                1
                </a>
            </div>

            <div>
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                2
                </a>
            </div>

            <div>
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                3
                </a>
            </div>

            <div>
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                4
                </a>
            </div>

            <div>
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                5
                </a>
            </div>

            <div>
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                6
                </a>
            </div>

            <div>
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                7
                </a>
            </div>

            <div>
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                8
                </a>
            </div>

            <div>
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                9
                </a>
            </div>

            <div>
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                0
                </a>
            </div>
            </div>

            <div>
            <div></div>

            <div class="decimal_point">
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                .
                </a>
            </div>

            <div class="divided">
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                ÷
                </a>
            </div>

            <div class="multiplied">
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                ×
                </a>
            </div>

            <div class="minus">
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                -
                </a>
            </div>

            <div class="plus">
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                +
                </a>
            </div>

            <div></div>

            <div class="clear">
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                C
                </a>
            </div>

            <div class="equal">
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                =
                </a>
            </div>

            </div>
        </div>
        </div>
    </main>
</body>
test