h2 {
    margin-bottom: 40px;
}

.card {

    box-shadow: 0 4px 8px green;

    border-radius: 10px;

}

.card-body {

    padding: 20px;

}

.btn {

    font-size: 1.2rem;

    padding: 15px;

    border: 1px solid white;

}

.btn-group .btn {

    border-radius: 0px;

}

.form-control {

    font-size: 2rem;

    padding: 10px;

    border-radius: 5px;

    border-color: black;

}